trigger:
  branches:
    include:
      - refs/tags/*

pr: none

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'api-keys'

steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: 'pack'
      packagesToPack: './project-templates/MiguelGuedelha.UmbracoTemplates.Projects.csproj'
      versioningScheme: 'byEnvVar'
      versionEnvVar: Build.SourceBranchName
    displayName: 'Pack Umbraco Templates Project'

  - script: |
      dotnet nuget push $(Build.ArtifactStagingDirectory)/*.nupkg -s 'https://api.nuget.org/v3/index.json' --skip-duplicate -n -k $(NugetApiKey)
    displayName: 'Push NuGet Package'