---
import '../styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="h-screen flex flex-col items-center justify-center gap-2">
        <h1 class="text-3xl font-bold underline w-fit">UmbracoBFFAstro Frontend</h1>
        <p class="text-center">
            This contains nothing but the base Tailwind v4 styles included, <br /> a clean slate for you to work with
        </p>
    </body>
</html>
