<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b2eb937-3736-41fd-8738-be5e6031eee8" Alias="Date/Time with Offset Picker" Level="3">
  <Info>
    <Name>Date/Time with Offset Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DatePicker</EditorUIAlias>
    <Folder>Custom/Date%2fTime</Folder>
  </Info>
  <Config><![CDATA[{
  "format": "YYYY-MM-DD HH:mm:ss\u002B-HH:mm",
  "offsetTime": true
}]]></Config>
</DataType>