<?xml version="1.0" encoding="utf-8"?>
<DataType Key="620796f5-2ce7-4e97-bfa1-c764267b1e15" Alias="Embed Video Media Picker" Level="4">
  <Info>
    <Name>Embed Video Media Picker</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Dawoe.OEmbedPickerPropertyEditor</EditorUIAlias>
    <Folder>Custom/Pickers/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "allowmultiple": false
}]]></Config>
</DataType>