<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44cdc5a0-9796-4944-8a60-8a86a6f7066c" Alias="Gallery Cards Per Row Dropdown" Level="4">
  <Info>
    <Name>Gallery Cards Per Row Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.NumberRangeDataListSource, Umbraco.Community.Contentment",
      "value": {
        "start": 2,
        "end": 4,
        "step": 1,
        "decimals": "0"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>