<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82f0563c-643c-4cb5-a8aa-c0438665f6a1" Alias="Multiple Mandatory Banner Item Block List" Level="4">
  <Info>
    <Name>Multiple Mandatory Banner Item Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eadb4c54-a18d-4e18-bfac-f55ca780c972",
      "label": "**Banner Item** - {=heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>