<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d381ca5f-5132-4c61-a72a-76e920888497" Alias="Multiple Mandatory Heading With Links Block List" Level="4">
  <Info>
    <Name>Multiple Mandatory Heading With Links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "df752547-e003-45aa-8e2d-dd8f17c48b22",
      "label": "**Heading with Links** - {=heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>