<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd870a37-2d9a-4e78-97c7-ce34db04c168" Alias="Multiple Mandatory Navigation Links Block List" Level="4">
  <Info>
    <Name>Multiple Mandatory Navigation Links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6f9108e4-a121-4624-a828-efd8403d0f18",
      "label": "**Main Navigation Link** - {umbLink: link}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>