<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b4820bf-8370-4749-adcf-7ba50df6e210" Alias="Redirect Fallback Direction Dropdown" Level="4">
  <Info>
    <Name>Redirect Fallback Direction Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "UmbracoHeadlessBFF.SharedModules.Cms",
          "UmbracoHeadlessBFF.SharedModules.Cms.DeliveryApi.Data.RedirectFallbackDirection"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>