<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0405c199-48e4-4010-83f3-be7f9b313478" Alias="Single Mandatory Image Block List" Level="4">
  <Info>
    <Name>Single Mandatory Image Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Single+Item</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "93de461b-8584-4e6e-9a18-8a5285863495",
      "label": "{{$contentTypeName}} - {{ internalBlockLabel || altText }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>