<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb8a1ab8-fa56-4dc5-a4ff-81278cf674f6" Alias="Single Heading With Social Links Block List" Level="4">
  <Info>
    <Name>Single Heading With Social Links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Single+Item</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1786273f-196e-4a2d-a907-6d587dffa079",
      "label": "**Heading with Social Links** - {=heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>