<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ea854ce-6972-4da3-b729-816d7c313faa" Alias="Video Provider Dropdown" Level="4">
  <Info>
    <Name>Video Provider Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Youtube",
            "value": "youtube",
            "icon": "icon-youtube color-undefined",
            "description": ""
          },
          {
            "name": "Vimeo",
            "value": "vimeo",
            "icon": "icon-movie color-undefined",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": false,
        "showDescriptions": false,
        "showIcons": true
      }
    }
  ]
}]]></Config>
</DataType>