<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1786273f-196e-4a2d-a907-6d587dffa079" Alias="headingWithSocialLinks" Level="2">
  <Info>
    <Name>Heading with Social Links</Name>
    <Icon>icon-facebook-circle-fill color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Building+Blocks</Folder>
    <Compositions>
      <Composition Key="2fabda5f-c579-4c39-8a5a-c5e292863f28">optionalHeading</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>beba3d01-0430-43f2-bc2d-8023b168151d</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>7eeb0024-0f56-49f4-b484-1e445c10271b</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e5c52d96-5caf-47b2-81ff-99fac86825ad</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>