<?xml version="1.0" encoding="utf-8"?>
<DataType Key="466b2e75-8a52-4895-9ef9-83746e13e1e9" Alias="Blog Listing Article Container Picker" Level="4">
  <Info>
    <Name>Blog Listing Article Container Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Documents</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "blogRepository,blogMonth,blogYear",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": []
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>