<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af6aec87-1850-423c-ab22-9c44a4386291" Alias="Date with Offset Picker" Level="3">
  <Info>
    <Name>Date with Offset Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Custom/Date%2fTime</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": true
}]]></Config>
</DataType>