<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b2eb937-3736-41fd-8738-be5e6031eee8" Alias="Date/Time with Offset Picker" Level="3">
  <Info>
    <Name>Date/Time with Offset Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <Folder>Custom/Date%2fTime</Folder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss+-HH:mm",
  "OffsetTime": true
}]]></Config>
</DataType>