<?xml version="1.0" encoding="utf-8"?>
<DataType Key="620796f5-2ce7-4e97-bfa1-c764267b1e15" Alias="Embed Video Picker" Level="4">
  <Info>
    <Name>Embed Video Picker</Name>
    <EditorAlias>Dawoe.OEmbedPickerPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowMultiple": false
}]]></Config>
</DataType>