<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7102f2a0-0c35-4c3e-a087-8d4d6610acc7" Alias="Mandatory Not Found Page Picker" Level="4">
  <Info>
    <Name>Mandatory Not Found Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Documents</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "notFound",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": []
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>