<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d353f12a-7a31-41cb-a21e-439a25535be7" Alias="Mandatory Search Page Picker" Level="4">
  <Info>
    <Name>Mandatory Search Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Documents</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "siteSearch",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": []
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>