<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80dbd578-7a90-46cd-9b33-f64e394d6e25" Alias="Multiple Links With Sub-links Block List" Level="4">
  <Info>
    <Name>Multiple Links With Sub-links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "acd45359-69e3-474c-832e-934e1b743d77",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$contentTypeName}} - {{ link }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>