<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4157fc3-b660-4f45-8afa-ed9bc7e5c1c5" Alias="Multiple Mandatory URL Picker" Level="4">
  <Info>
    <Name>Multiple Mandatory URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "OverlaySize": "small"
}]]></Config>
</DataType>