<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd870a37-2d9a-4e78-97c7-ce34db04c168" Alias="Multiple Mandatory Navigation Links Block List" Level="4">
  <Info>
    <Name>Multiple Mandatory Navigation Links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6f9108e4-a121-4624-a828-efd8403d0f18",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$contentTypeName}} - {{ link[0].nodeName || link[0].url }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>