<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d381ca5f-5132-4c61-a72a-76e920888497" Alias="Multiple Mandatory Heading With Links Block List" Level="4">
  <Info>
    <Name>Multiple Mandatory Heading With Links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "df752547-e003-45aa-8e2d-dd8f17c48b22",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$contentTypeName}} - {{ heading }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>