<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24c7d835-31d3-442f-99a8-994a0c2707ca" Alias="Robots Options Checkbox List" Level="4">
  <Info>
    <Name>Robots Options Checkbox List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Lists/Checkboxes</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-search color-black",
            "name": "Don't index",
            "value": "noindex",
            "description": "Prevent bots from indexing the page"
          },
          {
            "icon": "icon-link color-black",
            "name": "Don't follow links",
            "value": "nofollow",
            "description": "Prevent bots from following links in the page"
          },
          {
            "icon": "icon-article color-black",
            "name": "Don't show snippet",
            "value": "nosnippet",
            "description": "Prevent search engines from showing a text snippet as part of the search result"
          },
          {
            "icon": "icon-umb-media color-black",
            "name": "Don't index images",
            "value": "noimageindex",
            "description": "Prevent bots from indexing images on the page"
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CheckboxListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "checkAll": "1",
        "showDescriptions": "1",
        "showIcons": "1"
      }
    }
  ]
}]]></Config>
</DataType>