<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95ddb6ad-0bf7-4b03-b986-9c96f6cc05af" Alias="Single Open Graph Type Dropdown" Level="4">
  <Info>
    <Name>Single Open Graph Type Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-globe color-black",
            "name": "Website",
            "value": "website",
            "description": ""
          },
          {
            "icon": "icon-article color-black",
            "name": "Article",
            "value": "article",
            "description": ""
          },
          {
            "icon": "icon-book-alt-2 color-black",
            "name": "Book",
            "value": "book",
            "description": ""
          },
          {
            "icon": "icon-umb-users color-black",
            "name": "Profile",
            "value": "profile",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>