<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95ddb6ad-0bf7-4b03-b986-9c96f6cc05af" Alias="Single Open Graph Type Dropdown" Level="4">
  <Info>
    <Name>Single Open Graph Type Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "website"
    },
    {
      "id": 2,
      "value": "article"
    },
    {
      "id": 3,
      "value": "book"
    },
    {
      "id": 4,
      "value": "profile"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>