<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07fb3486-9695-4e6d-b0d0-49f25d4e2a0a" Alias="Single Audio Picker" Level="4">
  <Info>
    <Name>Single Audio Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaAudio",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>