<?xml version="1.0" encoding="utf-8"?>
<DataType Key="090e5679-5c40-4d19-8783-27b0dbc22ba5" Alias="Single Mandatory URL Picker" Level="4">
  <Info>
    <Name>Single Mandatory URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Pickers/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "OverlaySize": "small"
}]]></Config>
</DataType>