<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d78431b-6301-44fb-ac8d-de2b6760b4ee" Alias="Sitemap Priority Slider" Level="4">
  <Info>
    <Name>Sitemap Priority Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Numbers/Sliders</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>