<?xml version="1.0" encoding="utf-8"?>
<DataType Key="510cc7d1-2ef8-49ea-8e0c-555dc89d24be" Alias="True/False - True Default" Level="3">
  <Info>
    <Name>True/False - True Default</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom/Toggles</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>