<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b75d685d-ed0a-4b51-ada2-384baf5719c2" Alias="Blog Listing Sorting Dropdown" Level="4">
  <Info>
    <Name>Blog Listing Sorting Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Latest",
            "value": "latest",
            "icon": "icon-stop",
            "description": ""
          },
          {
            "name": "Alphabetical",
            "value": "alphabetical",
            "icon": "icon-stop",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": false
      }
    }
  ]
}]]></Config>
</DataType>