<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8f4b5e4-9dc0-4e18-9bab-8c9de7862d38" Alias="Date Time Picker (with time zone) - HH:mm:ss" Level="4">
  <Info>
    <Name>Date Time Picker (with time zone) - HH:mm:ss</Name>
    <EditorAlias>Umbraco.DateTimeWithTimeZone</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateTimeWithTimeZonePicker</EditorUIAlias>
    <Folder>Custom/Pickers/Date%2fTime</Folder>
  </Info>
  <Config><![CDATA[{
  "timeFormat": "HH:mm:ss",
  "timeZones": {
    "mode": "all",
    "timeZones": []
  }
}]]></Config>
</DataType>