<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96c9e950-2caa-4433-8746-048c2d38be99" Alias="Date Only Picker" Level="4">
  <Info>
    <Name>Date Only Picker</Name>
    <EditorAlias>Umbraco.DateOnly</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DateOnlyPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Date%2fTime</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>