<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f66c304-6edd-4073-96ca-8be0a51e0f93" Alias="Heading Size Dropdown" Level="4">
  <Info>
    <Name>Heading Size Dropdown</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "H1",
            "value": "h1",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "H2",
            "value": "h2",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "H3",
            "value": "h3",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "H4",
            "value": "h4",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "H5",
            "value": "h5",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "H6",
            "value": "h6",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Paragraph",
            "value": "p",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>