<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7102f2a0-0c35-4c3e-a087-8d4d6610acc7" Alias="Mandatory Not Found Page Picker" Level="4">
  <Info>
    <Name>Mandatory Not Found Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Documents</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "b4ac6398-07ba-4882-a7be-39f180b5dccb",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 1,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": {
      "originAlias": "Site",
      "querySteps": []
    }
  }
}]]></Config>
</DataType>