<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9035ea80-a03d-415b-b138-a2f52e580475" Alias="Mandatory Single Video Media Picker" Level="4">
  <Info>
    <Name>Mandatory Single Video Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "f6c515bb-653c-4bdc-821c-987729ebe327",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>