<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9444435e-7719-45e4-921d-52d1cce28141" Alias="Mandatory Single Image Media Picker" Level="4">
  <Info>
    <Name>Mandatory Single Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>