<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f6b45df-633a-440f-abbd-bcb085ca32b6" Alias="Multiple Mandatory Card Block List" Level="4">
  <Info>
    <Name>Multiple Mandatory Card Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f6e228ae-34a8-4eb4-bc34-5cda56ca0958",
      "label": "**Card** - {=heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>