<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80dbd578-7a90-46cd-9b33-f64e394d6e25" Alias="Multiple Links With Sub-links Block List" Level="4">
  <Info>
    <Name>Multiple Links With Sub-links Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Multiple+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "acd45359-69e3-474c-832e-934e1b743d77",
      "label": "**Link with Sub-links** - {umbLink: link}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>