<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4157fc3-b660-4f45-8afa-ed9bc7e5c1c5" Alias="Multiple Mandatory URL Picker" Level="4">
  <Info>
    <Name>Multiple Mandatory URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 1,
  "overlaySize": "small"
}]]></Config>
</DataType>