<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d651e00-7796-462a-9837-72968424d039" Alias="Non Negative Numeric" Level="4">
  <Info>
    <Name>Non Negative Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Custom/Numbers/Inputs</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>