<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569d86a6-7fc6-4fe8-bbd8-13d378bcb557" Alias="Page Layout Block Grid" Level="3">
  <Info>
    <Name>Page Layout Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Custom/Block+Grids</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "6eaa7a9e-8ccb-428e-b850-4dbb36f7894e",
      "name": "Layouts"
    },
    {
      "key": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d",
      "name": "Components"
    }
  ],
  "blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "e0e086ea-80a1-489c-ba7e-459d4268a7fb",
          "alias": "single",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 1,
          "specifiedAllowance": [
            {
              "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
            }
          ]
        }
      ],
      "contentElementTypeKey": "f23cebb3-8a80-43de-927c-488fd562a525",
      "label": "One Column - Layout",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6eaa7a9e-8ccb-428e-b850-4dbb36f7894e"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "b757d60f-af8d-4a32-b249-ff886ca3d8c8",
      "label": "**Banner** - {=internalBlockLabel}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "5f1b684f-901d-417a-b68d-1309dae4dc3f",
      "label": "**Full Width Image** - {=internalBlockLabel}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "f82f9acc-c2fb-4a8d-8316-f1ca775017b5",
      "label": "**Rich Text Section** - {=internalBlockLabel}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "e0567bbd-783e-40cc-b628-b9ac5f188316",
      "label": "**Section Header** - {=heading}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "a629355c-f004-471e-ad0c-8085f9f6954c",
      "label": "**Spotlight** - {=heading}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "623e3c3b-ee3e-452c-b623-d125c5b7f36f",
      "label": "**Carousel** - {=internalBlockLabel}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "59431549-ce1d-4e19-b389-67655b1dbd5b",
      "settingsElementTypeKey": "b5f95b3f-3836-4858-8ef4-7edf5590025e",
      "label": "**Gallery** - {=internalBlockLabel}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [],
      "contentElementTypeKey": "c857eedb-27dc-4058-9c40-3f5a0e8c7bcc",
      "settingsElementTypeKey": "c4ad1ca6-404b-405b-88b1-487d7a0eb89b",
      "label": "**Blog Listing** - {=internalBlockLabel}",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "c36b1c0c-56cf-47f0-a4f5-ba0f781fe55d"
    }
  ],
  "useLiveEditing": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>