<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57544290-6ca3-4317-8350-1ce0005bde1c" Alias="Single Mandatory Image/Video Block List" Level="4">
  <Info>
    <Name>Single Mandatory Image/Video Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Single+Item</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "269b1f92-9416-4267-925b-9f7039510293",
      "label": "**Embed Video** - {=internalBlockLabel}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "2c1263bb-7bfc-48e5-b79c-13832bfa8a5f",
      "label": "**Media Library Video** - {=internalBlockLabel}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "93de461b-8584-4e6e-9a18-8a5285863495",
      "label": "**Responsive Image** - {=internalBlockLabel}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>