<?xml version="1.0" encoding="utf-8"?>
<DataType Key="090e5679-5c40-4d19-8783-27b0dbc22ba5" Alias="Single Mandatory URL Picker" Level="4">
  <Info>
    <Name>Single Mandatory URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Links</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 1,
  "overlaySize": "small"
}]]></Config>
</DataType>