<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07fb3486-9695-4e6d-b0d0-49f25d4e2a0a" Alias="Single Audio Media Picker" Level="4">
  <Info>
    <Name>Single Audio Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom/Pickers/Media</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "a5ddeee0-8fd8-4cee-a658-6f1fcdb00de3",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "validationLimit": {
    "min": 1
  }
}]]></Config>
</DataType>