<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c869ed4-c8bf-49c7-acd8-68a70cc91a12" Alias="Single Image Block List" Level="4">
  <Info>
    <Name>Single Image Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+Lists/Single+Item</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "93de461b-8584-4e6e-9a18-8a5285863495",
      "label": "**Responsive Image** - {=internalBlockLabel}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>