<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7dc4af7-0b9c-4f52-b60c-3aa1d197393d" Alias="Sitemap Change Frequency Radio Buttons" Level="4">
  <Info>
    <Name>Sitemap Change Frequency Radio Buttons</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom/Lists/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "Yearly",
            "value": "yearly",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Monthly",
            "value": "monthly",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Weekly",
            "value": "weekly",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Daily",
            "value": "daily",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Hourly",
            "value": "hourly",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Always",
            "value": "always",
            "description": "Content changes for each page access"
          },
          {
            "icon": "icon-stop",
            "name": "Never",
            "value": "never",
            "description": "Archived pages only"
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "0",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>