<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b757d60f-af8d-4a32-b249-ff886ca3d8c8" Alias="banner" Level="3">
  <Info>
    <Name>Banner</Name>
    <Icon>icon-pictures-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Standard</Folder>
    <Compositions>
      <Composition Key="148332f2-2cfb-48af-b737-08272bc10eb0">jumpMenuConfiguration</Composition>
      <Composition Key="e6d89afc-bfd4-48d5-839a-cb8eba6b543e">mandatoryHeadingWithOptionalSubHeading</Composition>
      <Composition Key="196831c5-7e01-4f13-ad46-cd25af550df3">optionalRTEDescription</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22aa5f6b-fb85-4fe7-a851-392d5b1bd909</Key>
      <Name>Background Media</Name>
      <Alias>backgroundMedia</Alias>
      <Definition>c361c4f1-e08e-4520-8822-9c382538ba43</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>87f6319f-b686-474e-9502-6232784ae4ec</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>