<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eadb4c54-a18d-4e18-bfac-f55ca780c972" Alias="bannerItem" Level="4">
  <Info>
    <Name>Banner Item</Name>
    <Icon>icon-umb-media color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Standard/Banner</Folder>
    <Compositions>
      <Composition Key="e6d89afc-bfd4-48d5-839a-cb8eba6b543e">mandatoryHeadingWithOptionalSubHeading</Composition>
      <Composition Key="196831c5-7e01-4f13-ad46-cd25af550df3">optionalRteDescription</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f13aded0-7cb2-435f-8f85-7c8b4106c561</Key>
      <Name>BackgroundMedia</Name>
      <Alias>backgroundMedia</Alias>
      <Definition>57544290-6ca3-4317-8350-1ce0005bde1c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5135e504-3d97-4536-9652-ba8457c0cd96</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>