<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bef5a0cb-4844-4e23-81a7-ce10b11a704c" Alias="blogRepository" Level="3">
  <Info>
    <Name>Blog Repository</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Blogs</Folder>
    <Compositions>
      <Composition Key="2b7aba31-9b40-4d28-8dc5-5b7e508de81b">redirectSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4e2e1bdd-0a68-4532-87b6-497b3587a981" SortOrder="0">blogArticle</ContentType>
    <ContentType Key="123faf2b-7354-4980-885a-2a9e2b55834f" SortOrder="1">blogYear</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>