<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6e228ae-34a8-4eb4-bc34-5cda56ca0958" Alias="card" Level="2">
  <Info>
    <Name>Card</Name>
    <Icon>icon-trafic color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Building+Blocks</Folder>
    <Compositions>
      <Composition Key="e6d89afc-bfd4-48d5-839a-cb8eba6b543e">mandatoryHeadingWithOptionalSubHeading</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e569aeac-5aae-4fb4-91f7-bbd7615c18ee</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>0405c199-48e4-4010-83f3-be7f9b313478</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e848974-505a-40a4-a802-a0ea9f822944</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>b0274281-50fc-4b57-bae1-45f9db0340bf</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>686c1236-fadb-4b6a-8121-02f461ac4c46</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>