<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5f95b3f-3836-4858-8ef4-7edf5590025e" Alias="gallerySettings" Level="4">
  <Info>
    <Name>Gallery Settings</Name>
    <Icon>icon-umb-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Standard/Gallery</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c44b36ec-6e87-48cc-8183-11115dcad2ea</Key>
      <Name>Cards Per Row</Name>
      <Alias>cardsPerRow</Alias>
      <Definition>44cdc5a0-9796-4944-8a60-8a86a6f7066c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f93bb0f2-8b8a-4ec8-a483-68217f304a44</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>