<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df752547-e003-45aa-8e2d-dd8f17c48b22" Alias="headingWithLinks" Level="2">
  <Info>
    <Name>Heading with Links</Name>
    <Icon>icon-directions color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Building+Blocks</Folder>
    <Compositions>
      <Composition Key="5bdd7354-8689-4305-ab9d-e5d0682b2bbd">mandatoryHeading</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>181cd964-ca39-4bb7-b1a5-f803cf608990</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>b4157fc3-b660-4f45-8afa-ed9bc7e5c1c5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d13aff46-b32f-4107-b453-efaa97cb83e0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>