<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4c5d7f95-235a-4ae5-bf59-14d975c6839e" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bef5a0cb-4844-4e23-81a7-ce10b11a704c" SortOrder="0">blogRepository</ContentType>
    <ContentType Key="73730cff-6bb3-4a36-b248-c15b7f0f7c86" SortOrder="1">standardContentPage</ContentType>
    <ContentType Key="020c8e54-661b-4534-97d6-8dd9e7371519" SortOrder="2">siteSearch</ContentType>
    <ContentType Key="b4ac6398-07ba-4882-a7be-39f180b5dccb" SortOrder="3">notFound</ContentType>
    <ContentType Key="6240e66a-3b50-4036-94ee-6853e11eef69" SortOrder="4">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>