<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="148332f2-2cfb-48af-b737-08272bc10eb0" Alias="jumpMenuConfiguration" Level="3">
  <Info>
    <Name>Jump Menu Configuration</Name>
    <Icon>icon-directions color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3464e804-2625-453b-9a4f-1eb17834bd89</Key>
      <Name>Anchor Id</Name>
      <Alias>jumpMenuAnchorId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Id used to navigate to the element in the page from the jump menu, must be unique on the page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="jumpMenu">Jump Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9db69a88-b41e-4109-9700-8a7198c6bc33</Key>
      <Name>Heading</Name>
      <Alias>jumpMenuHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The heading shown if a jump menu is present on the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="jumpMenu">Jump Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d6915eb0-91bd-4813-af52-da4fc2613b5f</Key>
      <Caption>Jump Menu</Caption>
      <Alias>jumpMenu</Alias>
      <Type>Tab</Type>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>