<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80eaf46d-f342-4889-8846-547268348737" Alias="navigationSettings" Level="3">
  <Info>
    <Name>Navigation Settings</Name>
    <Icon>icon-filter-arrows color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2bed4a8e-4e6c-4950-bcfc-93fb68a7005d</Key>
      <Name>Breadcrumb Name Override</Name>
      <Alias>breadcrumbNameOverride</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Override breadcrumb shown (empty = name of page)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigation/breadcrumbs">Breadcrumbs</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af334398-33f4-44e9-a623-6938c57a25d0</Key>
      <Name>Show Breadcrumb Link</Name>
      <Alias>showBreadcrumbLink</Alias>
      <Definition>510cc7d1-2ef8-49ea-8e0c-555dc89d24be</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation/breadcrumbs">Breadcrumbs</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be651c6a-0a4f-4f41-aba9-ceb1cf227bb5</Key>
      <Name>Show Breadcrumbs</Name>
      <Alias>showBreadcrumbs</Alias>
      <Definition>510cc7d1-2ef8-49ea-8e0c-555dc89d24be</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show breadcrumb chain for page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/breadcrumbs">Breadcrumbs</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64b05fb9-44b9-45b0-acd8-b44081e0b8b9</Key>
      <Name>Show In Breadcrumbs</Name>
      <Alias>showInBreadcrumbs</Alias>
      <Definition>510cc7d1-2ef8-49ea-8e0c-555dc89d24be</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Show this page's breadcrumb in other pages]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation/breadcrumbs">Breadcrumbs</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>50a961ae-6e64-4581-b9fd-71ce5ef39b2c</Key>
      <Caption>Breadcrumbs</Caption>
      <Alias>navigation/breadcrumbs</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b227c417-4c67-40e6-83b1-b20268d627b6</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>