<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d13d7e8d-b805-45b7-a7bc-1711db581679" Alias="redirect" Level="2">
  <Info>
    <Name>Redirect</Name>
    <Icon>icon-directions color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="80eaf46d-f342-4889-8846-547268348737">navigationSettings</Composition>
      <Composition Key="2b7aba31-9b40-4d28-8dc5-5b7e508de81b">redirectSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>