<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa126185-7d99-4a38-acc1-e3ea160b1156" Alias="seoSettings" Level="2">
  <Info>
    <Name>Seo Settings</Name>
    <Icon>icon-paper-plane-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a49d4e64-5f3d-4116-8944-b6b9c64c3592</Key>
      <Name>Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description to show on search engine results]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seo/metaTags">Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e46504b4-8bce-4045-af38-9a3bcb8ce37b</Key>
      <Name>Image</Name>
      <Alias>metaImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image to show on search engine results]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seo/metaTags">Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d486de8-4364-4112-8c7a-95e795958d5f</Key>
      <Name>Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title to show on search engine results]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seo/metaTags">Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9edd0bf9-95ce-4b94-b0e2-062334168dd5</Key>
      <Name>Description</Name>
      <Alias>ogDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional description override for open graph / sharing link to page]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seo/openGraphTags">Open Graph Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b73c3655-15f9-4d76-a822-b1368e2b924b</Key>
      <Name>Image</Name>
      <Alias>ogImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional image override for open graph / sharing link to page]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seo/openGraphTags">Open Graph Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcaf5544-6dcb-4ebc-ad03-e576f42ba124</Key>
      <Name>Title</Name>
      <Alias>ogTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional title override for open graph / sharing link to page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seo/openGraphTags">Open Graph Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b724b080-08de-4b38-9dd6-ad0c13e7df1e</Key>
      <Name>Type</Name>
      <Alias>ogType</Alias>
      <Definition>95ddb6ad-0bf7-4b03-b986-9c96f6cc05af</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What type of content does this page contain]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seo/openGraphTags">Open Graph Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e79b0d29-364b-4d37-97ba-a238e741ce8f</Key>
      <Name>Index Options</Name>
      <Alias>robotsIndexOptions</Alias>
      <Definition>24c7d835-31d3-442f-99a8-994a0c2707ca</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Options to signal to crawlers, no options selected = allow everything]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seo/robots">Robots</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8382f90-d921-4c88-95a6-6c11d4565d97</Key>
      <Name>Unavailable After</Name>
      <Alias>robotsUnavailableAfter</Alias>
      <Definition>7b2eb937-3736-41fd-8738-be5e6031eee8</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optionally, do not show this page after selected date/time]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seo/robots">Robots</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50dd6111-6f27-4685-a381-e0cf898261ff</Key>
      <Name>Change Frequency</Name>
      <Alias>sitemapChangeFrequency</Alias>
      <Definition>d7dc4af7-0b9c-4f52-b60c-3aa1d197393d</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seo/sitemap">Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>709986c7-540c-4ce3-b902-e23a49345bf7</Key>
      <Name>Last Modified Overwrite</Name>
      <Alias>sitemapLastModifiedOverwrite</Alias>
      <Definition>af6aec87-1850-423c-ab22-9c44a4386291</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seo/sitemap">Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f48653b4-3930-4dd6-a333-76651880eb00</Key>
      <Name>Priority</Name>
      <Alias>sitemapPriority</Alias>
      <Definition>7d78431b-6301-44fb-ac8d-de2b6760b4ee</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seo/sitemap">Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be1f462e-87e5-4b66-9a5e-e9f1a80b73cf</Key>
      <Name>Show On Sitemap</Name>
      <Alias>sitemapShow</Alias>
      <Definition>510cc7d1-2ef8-49ea-8e0c-555dc89d24be</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seo/sitemap">Sitemap</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2583d229-6af5-4889-8a80-6831100adc2e</Key>
      <Caption>Sitemap</Caption>
      <Alias>seo/sitemap</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>477c234f-a30a-4494-bee5-d8528c4ae872</Key>
      <Caption>Seo</Caption>
      <Alias>seo</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>95d2ffc1-e798-478c-8109-3cdc847579ad</Key>
      <Caption>Open Graph Tags</Caption>
      <Alias>seo/openGraphTags</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e0121a97-9d54-4790-8bac-95c47f2c46b0</Key>
      <Caption>Meta Tags</Caption>
      <Alias>seo/metaTags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f84bd766-fa92-4c95-9223-55cc3e3a2a25</Key>
      <Caption>Robots</Caption>
      <Alias>seo/robots</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>