<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73730cff-6bb3-4a36-b248-c15b7f0f7c86" Alias="standardContentPage" Level="2">
  <Info>
    <Name>Standard Content Page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c0fe28da-ca0c-4033-b602-feaaee43e031">listingSettings</Composition>
      <Composition Key="80eaf46d-f342-4889-8846-547268348737">navigationSettings</Composition>
      <Composition Key="95fb6b4b-b800-455f-9041-2d4887920323">pageContent</Composition>
      <Composition Key="aa126185-7d99-4a38-acc1-e3ea160b1156">seoSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d13d7e8d-b805-45b7-a7bc-1711db581679" SortOrder="0">redirect</ContentType>
    <ContentType Key="bef5a0cb-4844-4e23-81a7-ce10b11a704c" SortOrder="1">blogRepository</ContentType>
    <ContentType Key="73730cff-6bb3-4a36-b248-c15b7f0f7c86" SortOrder="2">standardContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>