<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="623e3c3b-ee3e-452c-b623-d125c5b7f36f" Alias="carousel" Level="3">
  <Info>
    <Name>Carousel</Name>
    <Icon>icon-trafic color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Standard</Folder>
    <Compositions>
      <Composition Key="e65f948b-dbb3-4837-b37c-c5da51bec8aa">internalBlockInfo</Composition>
      <Composition Key="148332f2-2cfb-48af-b737-08272bc10eb0">jumpMenuConfiguration</Composition>
      <Composition Key="720e1d0b-0c88-46bc-aff8-abf93ef74c64">optionalHeadingWithOptionalSubHeading</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4cf6192e-679e-4fed-9dd3-98d00a278507</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>5f6b45df-633a-440f-abbd-bcb085ca32b6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bb95f43c-afb0-4418-af41-463a3839a43f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>