<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f1b684f-901d-417a-b68d-1309dae4dc3f" Alias="fullWidthImage" Level="3">
  <Info>
    <Name>Full Width Image</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Standard</Folder>
    <Compositions>
      <Composition Key="e65f948b-dbb3-4837-b37c-c5da51bec8aa">internalBlockInfo</Composition>
      <Composition Key="148332f2-2cfb-48af-b737-08272bc10eb0">jumpMenuConfiguration</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8efa06f2-5226-455e-ab05-3a658d766991</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>0405c199-48e4-4010-83f3-be7f9b313478</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4881b42a-a05f-4a37-ae0c-64f00be4089f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>