<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c1263bb-7bfc-48e5-b79c-13832bfa8a5f" Alias="mediaLibraryVideo" Level="2">
  <Info>
    <Name>Media Library Video</Name>
    <Icon>icon-video color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Building+Blocks</Folder>
    <Compositions>
      <Composition Key="e65f948b-dbb3-4837-b37c-c5da51bec8aa">internalBlockInfo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82412add-cffb-4f04-ac95-f70bc654416e</Key>
      <Name>Placeholder Image</Name>
      <Alias>placeholderImage</Alias>
      <Definition>9444435e-7719-45e4-921d-52d1cce28141</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Placeholder image for displaying without loading full video]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>111812d4-ca5a-4847-9c57-07ba21c59fe2</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>9035ea80-a03d-415b-b138-a2f52e580475</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>94b92171-31fb-473a-a8a6-3ff72c87adf6</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>